* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* global */
.btn {
  text-decoration: none;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
  background: #ff5959;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  border: 2px solid #ff5959;
  transition: all 0.3s;
}

.btn:hover {
  color: #ff5959;
  background: white;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.title {
  color: #121212;
  font-weight: bold;
  font-size: 45px;
  margin: 0;
  margin-bottom: 16px;
}
.peragraph {
  color: #707070;
  font-size: 18px;
  margin: 0;
}

/* header section starts */
header {
  width: 100%;
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
}

/* header description section */
.header-descriptiton {
  width: 700px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
header h1 {
  margin: 0 auto;
  font-size: 65px;
  margin-bottom: 40px;
  text-align: center;
}
.header-descriptiton p {
  margin-bottom: 40px;
}
.header-descriptiton a {
  display: inline-block;
}
.header-descriptiton .btn:hover {
  background: transparent;
}
/* header img */
.header-img {
  background-image: url(../assets/images/donation3.jpg);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-overlay {
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* donate today section */
#donate-today {
  margin-bottom: 100px;
}

.description {
  text-align: center;
}
.description .peragraph {
  margin: 0 auto;
  width: 691px;
}
.ammount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.ammount-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 123px;
  background: #fafafa;
  border-radius: 5px;
}

.ammount-card span {
  font-weight: bold;
  font-size: 30px;
  color: #707070;
}
.ammount-card.active {
  color: #ff5959;
  border: 2px solid #ff5959;
  background: #ffeeee;
}
.ammount-card.active span {
  color: #ff5959;
}

/* input feild in donate today section */
.donate-today-input input {
  margin: 20px auto;
  margin-top: 40px;
  display: block;
  width: 765px;
  border: none;
  border-bottom: 2px solid #dadada;
  text-align: center;
  outline: none;
  font-size: 18px;
  color: #707070;
  padding: 10px 0;
}

.donate-today-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#donate-today .btn {
  display: inline-block;
}

/* donate plan section starts from here */
.donate-plan-cards {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.donate-plan-cards .card {
  width: 360px;
  border-radius: 5px;
  background: rgba(79, 157, 166, 0.1);
  padding: 30px;
}
.donate-plan-cards .card-desc h3 {
  margin-bottom: 8px;
}

.donate-plan-cards .card-icon img {
  width: 60px;
}
.donate-plan-cards .card:nth-child(2) {
  background: rgba(255, 89, 89, 0.1);
}
.donate-plan-cards .card:nth-child(3) {
  background: rgba(255, 244, 214, 1);
}
